$main-color: #474747;
$background-color: #545454;
$light-gray: #C3C3C3;
$dark-gray: #A5A5A5;
$text-color: #5F5F5F;
$green-color: #519945;
$input-text: #353535;
$blue-color: #646cff;
$white-color: #ffffff;
$red-color: red;
$yellow-color: #e2af1a;
$purple-color: purple;
$green-opacity-color: rgba(81, 153, 69, 0.5);
$white-opacity-color: rgba(255, 255, 255, 0.4);
$alert-border-color: #f5c6cb;
$alert-text-color: #721c24;
$alert-bg-color: #f8d7da;